# Lots of junk goes in here.
/caches/
/backups/
dein/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Ignore vim undo history
vim/.undo
vim/.backup
vim/.swap
