[submodule "submodules/zgen"]
	path = submodules/zgen
	url = git@github.com:tarjoilija/zgen.git
[submodule "submodules/packer.nvim"]
	path = submodules/packer.nvim
	url = git@github.com:wbthomason/packer.nvim.git
