[user]
	name = Ryan Koval
	email = ryan@ryankoval.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	# pager = less -+F -c
	pager = delta
	attributesfile = ~/.gitattributes
[interactive]
  diffFilter = delta --color-only
[push]
	default = current
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	branchcleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	diff-image = "!f() { GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[mergetool]
	keepBackup = false
	prompt = false
[rebase]
	autosquash = true
[merge]
	tool = gvimdiff
[color "diff"]
	meta = cyan
	frag = cyan dim
[color "status"]
	untracked = black
[difftool "sourcetree"]
	cmd = " "
	path =
[mergetool "sourcetree"]
	cmd = " "
	trustExitCode = true
[commit]
	gpgsign = true
[diff "ansible-vault"]
	textconv = ansible-vault view --vault-password-file ~/.ssh/vault_pass.txt
[url "git@github.com:"]
    insteadOf = https://github.com/
[diff "image"]
	command = /nastygoat/git-diff-image/git_diff_image
[delta]
  decorations = true
  side-by-side = true
  whitespace-error-style = 22 reverse
  file-decoration-style = none
  hunk-header-style = omit
  line-numbers = true
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
[diff "lockb"]
	binary = true
