let mapleader = ','

inoremap jk <Esc>
inoremap Jk <Esc>
nnoremap K <Esc>

nnoremap <Backspace> 10k
nnoremap <Space> 10j

nnoremap gd :action GotoImplementation<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gf :action GotoTypeDeclaration<CR>
nnoremap gh :action ShowHoverInfo<CR>

nnoremap <Leader>hu :action Vcs.RollbackChangedLines<CR>
" do annotate action twice because of relative numbering weirdness with ideavim
nnoremap <Leader>ha :action Annotate<CR>:action Annotate<CR>

nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]l :action GotoNextError<CR>
nnoremap [l :action GotoPreviousError<CR>

nnoremap <Leader>/ :action FindInPath<cr>

nnoremap <Leader>t :action GotoFile<cr>
nnoremap <Leader>i :action SplitHorizontally<cr>:action GotoFile
nnoremap <Leader>v :action SplitVertically<cr>:action GotoFile
nnoremap <Leader>e :action GotoFile<cr>
nnoremap <Leader>b :action RecentFiles<cr>

nnoremap <Leader>n :action FindUsages<cr>
nnoremap <Leader>* :action FindUsages<cr>
nnoremap <C-S-Tab> :action PreviousTab<cr>
nnoremap <C-Tab> :action NextTab<cr>

nnoremap <C-O> :action Back<cr>
nnoremap <C-I> :action Forward<cr>

set multiple-cursors
nnoremap <D-S-d> :action SelectAllOccurrences<cr>

set commentary
inoremap <D-/> <esc>:Commentary<cr>a
nnoremap <D-/> :Commentary<cr><esc>
vnoremap <D-/> :Commentary<cr><esc>

nnoremap <Leader>lb :action ToggleLineBreakpoint<cr>

nnoremap <D-1> 1gt
nnoremap <D-2> 2gt
nnoremap <D-3> 3gt
nnoremap <D-4> 4gt
nnoremap <D-5> 5gt
nnoremap <D-6> 6gt
nnoremap <D-7> 7gt
nnoremap <D-8> 8gt
nnoremap <D-9> 9gt

" mimic behavior of macvim for copy/paste, which escapes from visual mode after Cmd+C/Cmd+V
vnoremap <M-C> "*y
nnoremap <M-V> "*p
vnoremap <M-V> "*p
inoremap <M-V> <C-C>"*pa
" inoremap <C-K> <cr>:action EditorCompleteStatement<cr>i

"nnoremap <Leader>f :action ActivateProjectToolWindow<cr>
nnoremap <Leader>f :action SelectInProjectView<cr>

nnoremap + <C-a>
nnoremap - <C-x>
xnoremap + g<C-a>
xnoremap - g<C-x>

" plugins
set NERDTree
set surround
set incsearch
set ignorecase smartcase
set highlightedyank

