let mapleader = ','

nnoremap gd :action GotoImplementation<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gf :action GotoTypeDeclaration<CR>
nnoremap gh :action QuickTypeDefinition<CR>

nnoremap <Leader>hu :action Vcs.RollbackChangedLines<CR>
" do annotate action twice because of relative numbering weirdness with ideavim
nnoremap <Leader>ha :action Annotate<CR>:action Annotate<CR>

nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]l :action GotoNextError<CR>
nnoremap [l :action GotoPreviousError<CR>

nnoremap <Leader>/ :action FindInPath<cr>

nnoremap <Leader>t :action GotoFile<cr>
nnoremap <Leader>i :action SplitHorizontally<cr>:action GotoFile
nnoremap <Leader>v :action SplitVertically<cr>:action GotoFile
nnoremap <Leader>e :action GotoFile<cr>
nnoremap <Leader>b :action RecentFiles<cr>

nnoremap <Leader>n :action FindUsages<cr>
nnoremap <Leader>* :action FindUsages<cr>
nnoremap <C-S-Tab> :action PreviousTab<cr>
nnoremap <C-Tab> :action NextTab<cr>

nnoremap <C-O> :action Back<cr>
nnoremap <C-I> :action Forward<cr>

nnoremap <Leader>lb :action ToggleLineBreakpoint<cr>

nnoremap <M-1> :action GoToTab1<cr>
nnoremap <M-2> :action GoToTab2<cr>
nnoremap <M-3> :action GoToTab3<cr>
nnoremap <M-4> :action GoToTab4<cr>
nnoremap <M-5> :action GoToTab5<cr>
nnoremap <M-6> :action GoToTab6<cr>
nnoremap <M-7> :action GoToTab7<cr>
nnoremap <M-8> :action GoToTab8<cr>
nnoremap <M-9> :action GoToTab9<cr>

" mimic behavior of macvim for copy/paste, which escapes from visual mode after Cmd+C/Cmd+V
vnoremap <M-C> "*y
nnoremap <M-V> "*p
vnoremap <M-V> "*p
inoremap <M-V> <C-C>"*pa
" inoremap <C-K> <cr>:action EditorCompleteStatement<cr>i

"nnoremap <Leader>f :action ActivateProjectToolWindow<cr>
nnoremap <Leader>f :action SelectInProjectView<cr>

set surround
